<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8">
  <title>Motivation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
  <body>
    <div class="container">
      <img th:src="@{/images/frame.jpg}">
      <h1 class="h1">集中管理一覧</h1>
      <div class="float-end">
        <a th:href="@{/motivation/new}" class="btn btn-outline-success">登録はこちら</a>
        <a th:href="@{/motivation/graph}" class="btn btn-outline-info">グラフ一覧</a>
      </div>
      <div th:if="${motivationlist}">
        <table class="table table-success  table-striped ">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>集中した時間</th>
              <th>満足度</th>
              <th>内容</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="motivation : ${motivationlist}" th:object="${motivation}" class="align-middle">
              <td th:text="*{title}"></td>
              <td th:text="*{time}"></td>
              <td th:text="*{rate}"></td>
              <td th:text="*{memo}"></td>
              <td>
                <a th:href="@{/motivation/{id}/edit(id=*{id})}" class="btn btn-success">編集</a>
                <a th:href="@{/motivation/{id}/delete(id=*{id})}" class="btn btn-outline-secondary">削除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>