<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Motivation</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <h1>何を集中しましたか？</h1>
  <form th:action="@{/motivation/create}" th:object="${motivationAddRequest}" th:method="post">
      <div class="form-group">
          <label>タイトル：<span class="text-danger">※</span></label>
          <input type="text" th:field="*{title}" class="form-control" placeholder="ピアノ">
      </div>
      <div class="form-group">
          <label>集中した時間：</label>
          <input type="number" th:field="*{time}" class="form-control">時間
      </div>
      <div class="form-group">
          <label>内容：</label>
          <input type="text" th:field="*{memo}" class="form-control" placeholder="カノンを練習した。次はサビのリズムに気をつける">
      </div>
      <br />
      <div class="text-center">
          <input type="submit" value="登録" class="btn btn-primary">
          <a href="/motivation/index" class="btn btn-secondary">キャンセル</a>
      </div>
  </form>
</div></body>