<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.motivation.dao.MotivationMapper">

  <select id="findAll" resultType="com.example.motivation.entity.Motivation">
    SELECT * FROM motivation order by rate desc
  </select>

  <select id="findById" resultType="com.example.motivation.entity.Motivation">
    SELECT * FROM motivation WHERE id=#{id}
  </select>
  <insert id="save">
    INSERT INTO motivation
      (title, user_id, time, rate, memo, create_date)
    VALUES
      (#{title}, #{userId}, #{time}, #{rate}, #{memo}, CURRENT_DATE)
  </insert>

  <update id="update">
    UPDATE motivation SET title = #{title}, userId = #{userId}, time = #{time}, rate = #{rate}, memo = #{memo} WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM motivation WHERE id = #{id}
  </delete>
</mapper>