<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.motivation.dao.MotivationMapper">

  <select id="findAll" resultType="com.example.motivation.entity.Motivation">
    SELECT * FROM motivation
  </select>
  <insert id="save">
    INSERT INTO motivation
        (id, title, time, memo)
    VALUES
        (#{id}, #{title}, #{time}, #{memo})
  </insert>
</mapper>